{{ header }}
<div class="pb-50">
<div id="account-forgotten" class="container">
<!-- Breadcrumb -->
<div class="d-flex justify-content-between align-items-center back-page">
  <div class="">
  <div class="back-to-home">
      <a href="{{ home }}"><img src="image/catalog/back-to-home.svg" alt="Back to home"> &nbsp <span> {{ back_to_main }}</span></a>
   </div>  
  </div>
  <div class="">
    <ul class="breadcrumb ">
      {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
    </ul>  
  </div> 
</div>
<!-- Breadcrumb end -->
  <div class="row">{{ column_left }}
    <div id="content" class="col">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      <p>{{ text_email }}</p>
      <form id="form-forgotten" action="{{ confirm }}" method="post" data-oc-toggle="ajax">
        <fieldset>
          <legend>{{ text_your_email }}</legend>
          <div class="row mb-3 required">
            <label for="input-email" class="col-sm-2 col-form-label">{{ entry_email }}</label>
            <div class="col-sm-10">
              <input type="text" name="email" value="" placeholder="{{ entry_email }}" id="input-email" class="form-control"/>
              <div id="error-email" class="invalid-feedback"></div>
            </div>
          </div>
        </fieldset>
        <div class="d-inline-block pt-2 pd-2 w-100">
          <div class="float-end">
            <button type="submit" class="btn btn-primary">{{ button_continue }}</button>
          </div>
        </div>
      </form>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
</div>
{{ footer }}