{{ header }}
<div class="pt-50">
    <div id="account-relative-form" class="container acpage">
        <div class="back-to-home">
            <a href="{{ home }}">
                <img src="image/catalog/back-to-home.svg" alt="Back to home">
                &nbsp
                <span>{{ back_to_main }}</span>
            </a>
        </div>
        <div class="row pt-5">
            <h3>{{ relative.id ? text_edit_relative : text_add_relative }}</h3>
            <form action="{{ action }}" method="post" id="relative-form">
                <input type="hidden" name="id" id="id" value="{{ relative.id | default('') }}">

                <div class="mb-3 required">
                    <label for="input-name" class="col-form-label">Name</label>
                    <div class="col-sm-12">
                        <input type="text" name="name" value="{{ relative.name | default(request.post.name) }}" placeholder="Enter Name" id="input-name" class="form-control {% if submitted and error_name %}is-invalid{% endif %}"/>
                        {% if submitted and error_name %}
                            <div id="error_name" class="invalid-feedback">{{ error_name }}</div>
                        {% endif %}
                    </div>
                </div>

                <div class="mb-3 required">
                    <label for="input-surname" class="col-form-label">Surname</label>
                    <div class="col-sm-12">
                        <input type="text" name="surname" value="{{ relative.surname | default(request.post.surname) }}" placeholder="Enter Surname" id="input-surname" class="form-control {% if submitted and error_surname %}is-invalid{% endif %}"/>
                        {% if submitted and error_surname %}
                            <div id="error_surname" class="invalid-feedback">{{ error_surname }}</div>
                        {% endif %}
                    </div>
                </div>

                <div class="mb-3 required">
                    <label for="input-description" class="col-form-label">Description</label>
                    <div class="col-sm-12">
                        <input type="text" name="description" value="{{ relative.description | default(request.post.description) }}" placeholder="Enter Description" id="input-description" class="form-control {% if submitted and error_description %}is-invalid{% endif %}"/>
                        {% if submitted and error_description %}
                            <div id="error_description" class="invalid-feedback">{{ error_description }}</div>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="occasion_type">Occasion Type</label>
                    <select name="occasion_type" id="occasion_type" class="form-control">
                        {% set occasions = ['Ծնունդ', 'Կնունք', 'Ամանոր', 'Հարսանիք'] %}
                        {% for occasion in occasions %}
                            <option value="{{ occasion }}" {% if relative.occasion_type == occasion or request.post.occasion_type == occasion %} selected {% endif %}>
                                {{ occasion | default('Ծնունդ') }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="day">Day</label>
                    <input type="date" name="day" id="day" class="form-control" value="{{ relative.day | default(request.post.day) }}">
                </div>

                <div class="form-group">
                    <label for="delivery_time">Delivery Time</label>
                    <input type="date" name="delivery_time" id="delivery_time" class="form-control" value="{{ relative.delivery_time | default(request.post.delivery_time) }}">
                </div>

                <div class="form-group">
                    <label for="remember_me_week">Remember Me Week</label>
                    <select name="remember_me_week" id="remember_me_week" class="form-control">
                        {% set remember_weeks = ['Remember me 1 week later', 'Remember me 2 weeks later', 'Remember me 3 weeks later', 'Remember me 1 month later'] %}
                        {% for week in remember_weeks %}
                            <option value="{{ week }}" {% if relative.remember_me_week == week or request.post.remember_me_week == week %} selected {% endif %}>
                                {{ type | default('Remember me 1 week later') }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="remember_type">Remember Type</label>
                    <select name="remember_type" id="remember_type" class="form-control" required>
                        {% set remember_types = ['Gmail', 'SMS', 'Call'] %}
                        {% for type in remember_types %}
                            <option value="{{ type }}" {% if relative.remember_type == type or request.post.remember_type == type %} selected {% endif %}>
                                {{ type | default('Gmail') }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">{{ relative.id ? button_edit : button_add }}</button>
            </form>
        </div>
    </div>
</div>
{{ footer }}
