<div class="manufacturer_header">
{{ header }}
</div>
<div class="pb-50">
<div id="product-manufacturer" class="container">
<!-- Breadcrumb -->
<div class="d-flex justify-content-between align-items-center back-page">
  <div class="">
  <div class="back-to-home">
      <a href="{{ home }}"><img src="image/catalog/back-to-home.svg" alt="Back to home"> &nbsp <span> {{ back_to_main }}</span></a>
   </div>  
  </div>
  <div class="">
    <ul class="breadcrumb ">
      {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
    </ul>  
  </div> 
</div>
<!-- Breadcrumb end -->
  <div class="row">{{ column_left }}
    <div id="content" class="col">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      {% if categories %}
        <p><strong>{{ text_index }}</strong>
          {% for category in categories %}
            &nbsp;&nbsp;&nbsp;<a href="{{ category.href }}#{{ category.name }}">{{ category.name }}</a>
          {% endfor %}
        </p>
        <div class="row">
        {% for category in categories %}
           <div class="col-lg-6 col-xs-12">
    <div class="brand-list">
          <h2 id="{{ category.name }}" class="bname">{{ category.name }}</h2>
          {% if category.manufacturer %}
            {% for manufacturers in category.manufacturer|batch(4) %}
              <div class="row mb-3">
                {% for manufacturer in manufacturers %}
                  <div class="col-sm-3"><a href="{{ manufacturer.href }}">{{ manufacturer.name }}</a></div>
                {% endfor %}
              </div>
            </div>
          </div>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% else %}
        <p>{{ text_no_results }}</p>
        <div class="d-inline-block pt-2 pd-2 w-100">
          <div class="float-end"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
        </div>
      {% endif %}
      {{ content_bottom }}</div></div>
    {{ column_right }}</div>
</div>
</div>
{{ footer }}