<div class="s-panel">
{# <div class="loader wrloader"></div> #}
    <div class="imgslider">
      {% for banner in banners %}
        <div class="sliderel">
          {% if banner.link %}
            <a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="mx-auto img-fluid"/></a>
          {% else %}
            <img src="{{ banner.image }}" alt="{{ banner.title }}" class="mx-auto img-fluid"/>
          {% endif %}
      <div class="slidertext">
      <div class="slideff">
        <div class="slidesmall">
          {{ banner.description }}
        </div>
      </div>
      </div>
    </div>
      {% endfor %}
    </div>
</div>